@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

    section
        overflow: hidden

    .btn-modal
        &:hover
            transform: none
            opacity: 1

    h1
        font-size: 42px
    h2
        font-size: 38px
    h3
        font-size: 32px

    body::before
        display: none

    header
        .logo
            margin-right: 0
        .navbar-nav li.nav-item
            margin-right: 20px
            .nav-link
                font-size: 14px
        .ico-block
            display: none
    
    .main
        min-height: auto
        z-index: 2
        background-image: url(../img/@1x/main_bg.jpg)
        ul li 
            font-size: 18px
        .btn.btn-modal
            padding: 15px

    .saving
        padding: 80px 0
        .get-mortgage 
            padding-top: 0
            > div span
                display: initial
        .grid-layout .saving-block
            padding: 20px

    .experts
        padding: 40px 0
        &__list li
            margin-bottom: 15px
        .tell-us
            margin-top: 155px
            &::after
                bottom: 50px

    .our-principles
        padding: 70px 0
        &__list 
            li 
                > div
                    font-size: 22px
                > p
                    margin: 10px 0 0
                    font-size: 18px

    .five-steps
        padding: 60px 0
        &__list
            grid-template-columns: repeat(3, auto)
            grid-gap: 15px

    .partners
        background-image: url(../img/@1x/partners_bg.jpg)

    .special-offer
        max-height: 100%
        padding-top: 60px
        .container
            &::before
                display: none
            &::after
                top: 0
                left: 565px
        .free-order
            figure
                left: 0
                max-width: 250px
                img
                    width: 100%
            &__text 
                > div
                    font-size: 22px
                > p
                    font-size: 18px
        
    .slider-partners .partners-list
        grid-template-columns: repeat(4, auto)

    .contacts-top
        &__list li
            font-size: 16px

// ≥992px
+media-breakpoint-down(md)

    h1
        font-size: 32px
    h2
        font-size: 26px
    h3
        font-size: 20px

    .btn-modal
        font-size: 20px

    br
        display: none

    section .container
        &::before,
        &::after
            display: none !important

    header
        .navbar
            &-collapse
                position: relative
                top: 10px
                .navbar-nav
                    padding: 20px
                    background-color: $accent
                    li.nav-item
                        margin-bottom: 10px
                        &:last-child
                            margin-bottom: 0
            .navbar-toggler
                position: relative
                top: 1px

        &.fixed-top
            padding: 10px 0
            #navbar-collapse .navbar-nav
                padding: 20px 0

    .main .btn.btn-modal
        margin-top: 30px
    
    .saving 
        .get-mortgage 
            > svg
                max-width: 30px
                margin-right: 10px
            > div
                font-size: 18px
        .grid-layout 
            grid-gap: 10px
            .saving-block
                font-size: 18px
                &__number
                    font-size: 40px
                &.block-5
                    font-size: 20px

    .experts
        .container::after
            display: none
        &__list li
            flex: 33.3%
            max-width: auto
            font-size: 18px
        .tell-us
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            max-width: 100%
            margin: 20px 0 0
            &::after
                display: none
            > div
                font-size: 20px
            > a
                width: 40%
                padding: 20px
                margin-top: 0
    
    .what-you-get
        padding-top: 40px
        &__list
            grid-template-columns: repeat(2, auto)
            li 
                div
                    font-size: 20px
                p
                    font-size: 18px
    
    .our-principles
        padding: 40px 0
        &__list
            grid-gap: 10px

    .five-steps
        padding: 40px 0

    .special-offer
        padding: 40px 0
        .form
            margin: 0 auto
            button
                padding: 20px
        figure
            margin: 0

    .partners
        padding-top: 40px
        min-height: 100%
        .slider-partners 
            .partners-list
                grid-gap: 10px
                img
                    padding: 10px
        .slider-navigation__arrows a
            width: 40px
            height: 40px
    
    .what-they-say
        padding-top: 40px
        .slider-navigation__arrows a
            width: 40px
            height: 40px

    .contacts
        &-top
            &__list li
                margin-right: 40px
        .map
            margin: 30px 0

// ≥768px
+media-breakpoint-down(sm)

    .main
        padding-top: 120px
    .saving
        padding: 30px 0
        .get-mortgage
            padding-top: 15px
        .grid-layout
            margin-top: 0 
            .saving-block
                &__number
                    margin-bottom: 20px

    .experts
        &__list li
            font-size: 16px

    .what-you-get
        &__list
            grid-template-columns: repeat(1,auto)
        .btn-modal
            margin-top: 20px
            max-width: 100%

    .our-principles
        &__list
            grid-template-columns: repeat(1, auto)
            li
                padding: 20px
    .five-steps
        &__list
            grid-template-columns: repeat(2, auto)
            li
                padding: 20px

    .what-they-say
        padding: 30px 0
        background-color: $section-bg-color

    .contacts
        &-top
            &__list li
                flex: 100%
        &-bottom
            &__list
                font-size: 14px
            .logo
                margin-top: 20px

    .modal
        min-width: 100%

    .shake
        animation: none

// ≥576px
+media-breakpoint-down(xs)

    h1
        font-size: 30px

    .main
        padding-top: 110px
        ul
            margin-top: 30px
            flex-wrap: wrap
            li
                flex: 100%
                margin-right: 10px
                margin-bottom: 10px
            &::before
                padding: 20px
    
    #saving 
        .get-mortgage 
            svg
                display: none
        .grid-layout
            margin-top: 20px
            grid-template-columns: repeat(1, auto)
            grid-template-rows: 1fr
            max-height: 100%
            .saving-block
                grid-row: auto
                > div svg
                    display: none

    .experts
        &__list li 
            flex: 100%
            .icons 
                min-width: 50px
                min-height: 50px
                img
                    max-width: 25px
        .tell-us
            flex-wrap: wrap
            > a
                margin-top: 20px
                width: 100%

    .what-you-get__list
        grid-row-gap: 0
        li::before
            top: 0

    .five-steps
        &__list
            grid-template-columns: repeat(1, auto)

    .special-offer 
        .free-order 
            figure
                display: none
            &__text
                margin-left: 0
                position: relative
                > div
                    margin-top: 10px
                    font-size: 18px
    
    .what-they-say
        h2
            margin-bottom: 20px

    .contacts
        &-top
            &__list
                flex-wrap: wrap
                li
                    margin-right: 0
                    margin-bottom: 20px
        &-bottom
            flex-wrap: wrap
            text-align: center
            &__list
                text-align: center
                li
                    margin-bottom: 10px
    
    .footer
        &__left
            margin-top: 5px
            text-align: center
        &__left,
        &__right
            flex: 100%

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
